.statistics {
  width: 450px;
  margin: 30px auto;
  padding-top: 15px;

  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.stat-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  color: grey;
}

.stat-list {
  display: flex;
  justify-content: center;
  padding: 0;
}
