body {
  font-size: 20px;
  line-height: 1.2;

  background-color: rgba(245, 237, 237, 0.5);
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}
